body{
    background: #ededed;
    color: #333;
    overflow-y: scroll;
    line-height: 1.42857143;
}
/*header*/
.homepage-area-selection-container {
    background-size: cover;
    background-position: center;
    box-shadow: inset 0 6px 8px -6px rgba(0,0,0,.1);
    position: relative;
}
.content-wrapper{margin-left: 0px;}
header{background-color: #ea5b31;
       height:65px;
       position:relative;
       min-height: 40px;
       background-color: #ea5b31;
       color: #fff;
       padding: 0;
       z-index: 1011;
       font-size: 15px;
       font-weight: lighter;
       display:block;}
.header-logo{ float: left;    margin: 10px 0;}
.header-links{    float: none;
                  position: absolute;
                  right: 87px;
                  margin: 0px;
                  padding: 0px;
                  outline: none;
                  font-size: 15px;
                  font-weight: lighter;
                  margin-top: 10px; }
.header-links__list{margin-top: 0;
                    margin-bottom: 11px;
                    padding-left: 0;
                    list-style: none;
                    float: left;
                    position: relative;
                    margin: 0;
                    height: 40px;
                    padding: 0px;
                    outline: none;}
.header-links__customer-account{display: inline-block;
                                padding: 0;
                                vertical-align: middle;
                                position: relative;
                                margin-left: 20px;}
.header-links__customer-account>a{
    color: #fff;
    letter-spacing: 1px;
    text-decoration: none!important;
    line-height: 20px;
    padding: 10px 0;
    display: inline-block;
    font-weight: 300;
    transition: color .25s ease-in-out;
    font-size: 15px;
}
.header-links__customer-account>a .icon{
    font-size: 18px;
    color: inherit;}
.label1{
    margin: 0px;
    padding: 0px;
    outline: none;
}
.icon-caret{
    font-size: 10px;
    margin: 0px;
    padding: 0px;
    outline: none;
}
#header{float:right; list-style: none;}
.nav .open>a, .nav .open>a:focus, .nav .open>a:hover {
    background-color: #ea5c3a;
    border-color: #ea5c3a;
}
.nav>li>a {
    text-decoration: none;
    background-color: #ea5c3a;
    color: #fff;
}
.nav>li>a:hover{
    text-decoration: none;
    background-color: #ea5c3a;
    color: #fff;
}


.homepage-area-selection-container .js-change-location-box-add-target {
    position: relative;
    z-index: 3;
}
.vendors-heading-container {
    min-height: 300px;
}
.homepage-area-selection-container .container {
    -webkit-animation: fadein 2s;
    animation: fadein 2s;
    position: relative;
    z-index: 2;
}

.container {
    width: 1160px;
}
.vendors-heading-container .vendors-heading {
    position: relative;
    padding-top: 100px;
}
.vendors-heading-container .vendors-heading h1 {
    font-family: inherit;

    line-height: 1.1;

    margin-top: 20px;



    margin: 0;
    margin-bottom: 10px;
    font-size: 40px;
    font-weight: 300;
    color: #ea5b31;
    text-align: center;
    vertical-align: middle;
}
.vendors-heading-container .vendors-heading h2 {
    margin: 0;
    text-align: center;
    font-weight: 300;
    font-size: 15px;
}
.location-header {
    position: absolute;
    bottom: 0;
    width: 100%;
    background-color: rgba(255,255,255,.85);
    padding-top: 10px;
    padding-bottom: 10px;
}
.location-header .container {
    text-align: center;
    font-weight: 300;
    color: #1c2c3a;
}
.location-header .container .icon {
    font-size: 20px;
}
.location-header .container .change-location-link {
    border-radius: 3px;
    border-width: 1px;
    text-transform: uppercase;
    transition: all .25s ease-in-out;
    color: #20ac76;
    letter-spacing: 2px;
}
.btn-sm.btn-alt {
    border-width: 1px;
    padding-top: 4px;
    padding-bottom: 4px;
}
.btn-primary.btn-alt {
    background: 0 0;
    color: #20ac76;
    border-color: #20ac76;
    border-radius: 100px;
}
a.change-location-link {
    margin: 0;
    margin-left: 10px;
}
.btn {
    font-weight: 500;
    display: inline-block;
    cursor: pointer;
    white-space: nowrap;
}
.btn-sm {
    padding: 5px 10px;
    font-size: 12px;
    line-height: 1.5;
}
.location-header .container .change-location-link:hover {
    background-color: #20ac76;
    color: #fff;
}

.homepage-area-selection-container .container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#fff 0,#fff 10%,rgba(255,255,255,.75) 40%,rgba(255,255,255,.4) 100%);
}

/*section*/
.homepage-area-selection-container > .container {
    padding-top: 150px;
    padding-left: 15px;
    padding-right: 15px;
    padding-bottom: 190px;
}
.homepage-tagline{
    margin: 0px;
    padding: 0px;
    outline: none;
}
.homepage-headline {
    position: relative;
    text-align: center;
    color: #fff;
}
.homepage-area-selection-container .homepage-headline h1 {
    color: #ea5b31;
    font-size: 50px;
    font-weight: 300;
    margin: 0;
    margin-bottom: 10px;
}
.homepage-area-selection-container .homepage-headline h2 {
    color: #1c2c3a;
    font-size: 24px;
    margin: 0;
    margin-bottom: 40px;
    font-weight: 300;
    letter-spacing: 1.3px;
}
.location-search {
    border: 0;
    background: rgba(255,255,255,.5);
    padding: 30px 40px 10px 40px;
    margin: 20px auto;
    border-radius: 4px;
    color: #444;
    max-width: 960px;
    position: relative;
}
.location-search .location-search-inner {
    margin-left: -10px;
    margin-right: -10px;
    margin: 0px;
    padding: 0px;
    outline: none;
}
.location-search-inner :before{
    content: " ";
    display: table;
}
.location-search-inner :after{
    content: " ";
    display: table;
    clear: both;
}

.location-search.location_city_area .area {
    float: left;
    width: 33.33%;
    position: relative;
    min-height: 1px;
}
.location-search .area{margin-bottom: 15px;}
location-search form>div {
    margin-right: -1px;
}
.location-search .area label {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    padding: 0;
    overflow: hidden;
    clip: rect(0,0,0,0);
    border: 0;}
form label {
    font-size: 16px;
}
.twitter-typeahead{
    width:100%;
}
.twitter-typeahead .tt-hint {
    word-break: normal;
    color: #aaa;
}
.location-search.location_city_area .find-food {
    float: left;
    width: 33.33333333%;
    position: relative;
    min-height: 1px;
}

.searchdropdown{
    width: 34%;
}
.location-search.location_city_area .city {
    float: left;
    width: 33.33333333%;
}
.dropdown-typeahead-wrapper {
    position: relative;
}
.location-search form>div:first-of-type input, .location-search form>div:first-of-type select {
    border-top-left-radius: 2px;
    border-bottom-left-radius: 2px;
    width:100%;
    background-color: #fff;
    color: #1c9767;

}
.location-search select {
    height: 46px;
    padding: 10px 16px;
    line-height: 1.3333333;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 300;
    border: solid 1px #1c9767;
    border-radius: 0;
}
.dropdown-typeahead-wrapper>.twitter-typeahead {
    width: 100%;
    position: relative;
    display: inline-block;
    direction: ltr;
}
.tt-dropdown-menu {
    width: 100%;

    padding: 0;
    background-color: #fff;
    border-bottom-left-radius: 2px;
    border-bottom-right-radius: 2px;
    box-shadow: 0 5px 10px rgba(0,0,0,.2);
    border: solid 1px #20ac76;
    border-top: 0;
    margin-top: -13px;
}
#searchResults{
    padding-left: 20px;
    font-size: 16px;
}
#searchResults>li{
    list-style: none;
    margin-top: 20px;
}
#searchResults>li>a{
    color: #000;
    text-decoration: none;
}
.loc{
    width: 33.33%;
    float: left;
}
#default{
    width: 100%;
    float: left;
}

.location-search input {
    height: 46px;
    padding: 10px 16px;
    line-height: 1.3333333;
    border-radius: 2px;
    font-size: 18px;
    font-weight: 300;
    border: solid 1px #1c9767;
    border-radius: 0;
}

.location-search .find-food .btn {
    line-height: 24px;
    font-size: 16px;
    font-weight: 300;
    text-transform: uppercase;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
    letter-spacing: 2px;
    padding: 10px 16px;
    border-radius: 2px;
}
.btn-group-lg>.btn, .btn-lg, .location-search .find-food .btn {
    padding: 10px 16px;
    border-radius: 2px;
}
.btn-primary {
    color: #fff;
    background-color: #20ac76;
    border-color: #1c9767;
}

.btn-primary:hover{
    color: #fff;
    background-color: #20ac76;
    border-color: #1c9767;
}
/*content-overlay section*/
.homepage-area-selection-container .container-overlay {
    position: absolute;
    top: 0;
    left: 0;
    z-index: 1;
    width: 100%;
    height: 100%;
    background: linear-gradient(180deg,#fff 0,#fff 10%,rgba(255,255,255,.75) 40%,rgba(255,255,255,.4) 100%);
    margin: 0px;
    padding: 0px;
    outline: none;
}

/*featured restaurants*/
.featured .container{
    margin-right: auto;
    margin-left: auto;
    padding-left: 10px;
    padding-right: 10px;
}
.home-popular-restaurants:last-of-type {
    margin-bottom: 60px;
}
.home-popular-restaurants {
    margin-top: 60px;
}
.home-popular-restaurants__title {
    font-family: inherit;
    font-weight: 500;
    line-height: 1.1;
    color: inherit;
    margin-top: 20px;
    margin-bottom: 10px;
    font-size: 24px;
    color: #222;
    font-weight: 700;
    text-align: center;
    margin: 0;
    margin-bottom: 20px;
}
.home-popular-restaurants__list {
    padding-left: 0;
    list-style: none;
    margin: 0 auto -20px auto;
}
.home-popular-restaurants.large .home-popular-restaurants__list__item, .home-popular-restaurants__list__month {
    width: 12.5%;
    height: auto;
    max-width: 144px;
    max-height: 124px;
    padding: 0 10px;
    margin: 0;
    margin-bottom: 20px;
    position: relative;
    float: left;
}
.home-popular-restaurants__list__month a{
    border: 0px;
}
.home-popular-restaurants__list__item a {
    border: 2px solid #e5e4e3;
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}
.home-popular-restaurants__list__item img ,.home-popular-restaurants__list__month img {
    display: block;
    width: 100%;
    height: 100%;
    margin: 0;
    padding: 0;
}

/*cart icon*/
#cart{
    font-size: 30px;
    color: #fff;
}
.order{
    margin-left: 20px;
}
#delivery{
    color:#39c;
    font-weight: 700;
}
.fa-hand-o-left {
    font-size: 40px;
    margin-left: 10px;
    color: #3fa75a;
}


.breadcrumbs{
    width: 100%;
    background: 0 0;
    font-size: 14px;
    font-weight: 300;
    color: #8e969d;
    position: relative;
    padding: 11px;
}
.aside{
    position: relative;
    float: left;
    width: 25%;
}
.js-sticky-element{
    width: 183px;
    /*position: fixed;*/
    top: 40px;
}
.a-btn{
    background: #ddd;
    border: 1px solid #ccc;
    height: 40px;
    margin-bottom: 5px;
}

.a-side-btn{
    background: red;
}
.categories__list{
    list-style: none;
}
.categories__list__item {
    position: relative;
    font-weight: 300;
    color: #8e969d;
}
.categories__list__item a{
    color: inherit;
    text-decoration: none;
}
#restrosection{
    position: relative;
    background-color: #fff;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    border-radius: 3px;
    padding-left: 0;
    padding-right: 0;
}
article{
    display: block;
    width:100%;
    float:left;
}
.vendor {
    position: relative;
    border-bottom: 1px solid #ededed;
}
.vendor__inner{
    position: relative;
    display: block;
    padding: 10px;
    text-decoration: none;
    min-height: 100px;
    background-color: transparent;
    color:#b4bfd3;
}
.vendor__image{
    width: 80px;
    height: 80px;
    border: 1px solid #ededed;
    background: #fff;
    border-radius: 3px;
    float: left;
    position: relative;
}
.vendor__image img{
    display: inline-block;
    border-radius: 3px;
}
.vendor__details {
    min-width: 300px;
    max-width: 400px;
    float: left;
    margin-left: 25px;
    position: relative;
}
.vendor__title {
    font-size: 18px;
    font-weight: 400;
    margin: 0;
    margin-top: 5px;
    color:#333;
}
.vendor__name {
    max-width: 100%;
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    float: left;
}
.clear {
    clear: both;
}
.vendor__cuisines {
    margin-bottom: 0;
    color: #8e969d;
    font-size: 14px;
    font-weight: 300;
    max-width: 100%;
    overflow: hidden;
    padding-left: 0;
    list-style: none;
    margin-left: -5px;
    margin: 0;
}
.vendor__cuisines>li {
    display: inline-block;
}
.vendor__details__footer .vendor__affordability {
    float: left;
    margin-right: 20px;
}

.vendor__info {
    position: absolute;
    top: 50%;
    margin-top: -12px;
    right: 0;
}
.fa-angle-right {
    float: right;
    margin-right: 10px;
    display: inline-block;
    color: #8e969d;
    font-size: 20px;
    margin-left: 45px;
    margin-right: 15px;
}

/*show page*/
.cart-container {
    width: 25%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;
    background: #fff;
    float:right;
}
.vendor-body-container {

    width: 100%;
    position: relative;
    min-height: 1px;
    padding-left: 10px;
    padding-right: 10px;

    margin-bottom: 20px;
    box-shadow: 0 4px 2px -2px rgba(0,0,0,.1);
}
.vendor-menu__categories{
    float: left;
    margin-left: 25px;
    background-color: #fff;
}
.vendor-menu__menus{
    background: white;
    min-height: 20px;
    float: left;
    width: 50%;
    position: relative;

}
.menu__category {
    margin-bottom: 50px;
    margin-top: 0;
}
.menu__category__title {
    font-size: 18px;
    font-weight: 400;
    margin: 0 0 10px 0;
    color: #1c2c3a;
    text-transform: capitalize;
}
.menu-item {
    margin-left: -10px;
    margin-right: -10px;
    margin-left: 0;
    margin-right: 0;
    border-bottom: 1px solid #ededed;
}
.menu-item__title {
    color: #1c2c3a;
    font-size: 14px;
    font-weight: 400;
    display: inline-block;
    vertical-align: middle;
}

